@font-face {
    font-family: "futura bt";
    src: url('typo/futura-bt.ttf');
}

#bar {
    background-color: #1c1c1c;
    padding: 40px;
    width: 100%;
}

#foot {
    margin-top: 500px;
    background-color: #1c1c1c;
    padding: 20px;
}

#lien_nav {
    color: #fff;
}

#check {
    max-width: 20%;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'futura bt';
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#bout {
    /* background-color: #0082b0;
    border: 1px solid #0082b0;
    color: #eee; */
    text-decoration: none;
    padding: 10px;
}

#achat_produit {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw; */
    position: absolute;
    right: 10%;
}

#cb {
    max-width: 20%;
    padding-bottom: 20px;
}

#image_produit {
    max-width: 30%;
    position: absolute;
    left: 50px;
}

.enigmes_reponse {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'futura bt', bold;
    text-align: center;
    width: 30vw;
    height: 30vh;
    background: #1c1c1c;
    border-radius: 5px;
    box-shadow: 0 0 0 6px white, 0 0 0 12px #251C00;
    color: white;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
    z-index: 3;
    top: 40%;
    right: 35%;
    position: absolute;
}

.enigmes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'futura bt', bold;
    text-align: center;
    width: 60vw;
    height: 80vh;
    background: #1c1c1c;
    border-radius: 5px;
    box-shadow: 0 0 0 6px white, 0 0 0 12px #251C00;
    color: white;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
    z-index: 3;
    top: 30px;
    position: absolute;
}


/*header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #05050f;
    height: 33vh;
}

/*nav {
    font-size: 150%;
    font-weight: bold;
    background-color: #27a3d1;
    box-shadow: 0px 11px 30px #27a3d1;
    padding: 2% 0 2% 0;
}

ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}*/


/* video {
    display: flex;
    width: 100%;
} */

a {
    text-decoration: none;
    color: #05050f;
    padding: 20px;
}

#accueil a {
    text-decoration: none;
    color: #d7a733;
}

a:hover {
    border-bottom: 4px solid #ffffff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

#accueil a:hover {
    border-bottom: 3px solid #d7a733;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
    min-height: 70vh;
    background-color: whitesmoke;
}


/* #livre_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
} */

#login {
    width: 50%;
    height: 50vh;
    border: 3px solid #242b48;
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: #242b48;
    font-size: 120%;
    bottom: 0;
    width: 100%;
}


/*#tableau {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#joueur {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 10%;
    text-align: center;
}

#joueur img {
    margin-bottom: 15%;
    border: #d7a733 4px solid;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    box-shadow: 7px -7px 22px #d7a733, -7px 7px 22px #d7a733;
}

#joueur img:hover {
    box-shadow: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}*/