@font-face {
    font-family: "futura bt";
    src: url('typo/futura-bt.ttf');
}

@font-face {
    font-family: "futura bold";
    src: url('typo/futurabold.ttf');
}

body {
    margin: 0;
    font-family: 'futura bt' !important;
    overflow: hidden;
    background-image: url(photos/bureau_connexion.png);
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disque {
    width: 30vw;
    height: 20vh;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 37vw;
    margin-top: 50vh;
    background-color: rgba(57, 65, 86, 0.8);
}

#enigme {
    font-family: 'futura bt', bold;
    text-align: center;
    width: 80vw;
    height: 80vh;
    background: #1c1c1c;
    border-radius: 5px;
    box-shadow: 0 0 0 6px white, 0 0 0 12px #251C00;
    color: white;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
    z-index: 3;
    position: absolute;
    left: 10vw;
    bottom: 10vh;
}

#enigme a {
    color: white;
    text-decoration: none;
    padding-left: 15vw;
    position: absolute;
}

#dia{
    display: flex;
    justify-content: center;
    align-items: center;
}

#im{
  z-index: 0;
}


#ret{
    z-index: 3;
    margin-top: 10px;
    margin-left: 10px;
}


@-webkit-keyframes arrow_anim {
    from { margin-top: 58px; }
      to { margin-top: 67px; }
 }
 
 @-moz-keyframes arrow_anim {
    from { margin-top: 58px; }
      to { margin-top: 67px; }
 }
 
 @-ms-keyframes arrow_anim {
    from { margin-top: 58px; }
      to { margin-top: 67px; }
 }
 
 @-o-keyframes arrow_anim {
    from { margin-top: 58px; }
      to { margin-top: 67px; }
 }
 
 @keyframes arrow_anim {
    from { margin-top: 58px; }
      to { margin-top: 67px; }
 }
 
 #arrow {
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
     border-top: 10px solid white;
   height: 0; 
   margin: 60px 0px 0px 360px;
   position: absolute;
   width: 0; 
   
   -webkit-animation: arrow_anim .3s steps(3) infinite;
   -moz-animation: arrow_anim .3s steps(3) infinite;
   -ms-animation: arrow_anim .3s steps(3) infinite;
   -o-animation: arrow_anim .3s steps(3) infinite;
   animation: arrow_anim .3s steps(3) infinite;
 }
 
 #dialog {
    margin-bottom: 20px;
   height: 70px;
   background: #1c1c1c;
   border-radius: 5px;
   box-shadow: 0 0 0 6px white, 0 0 0 12px #251C00;
   color: white;
   font-family: Arial;
   font-size: 18px;
   font-weight: bold;
   padding: 20px 20px 20px 20px;
   position: relative;
   text-transform: uppercase;
   word-spacing: 3px;
   width: 400px;
 }

 .vignets {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}